@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}
    
.main_screen{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.container{
    height: 100vh;
    width: 1300px;
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: auto;
}

.get_call{
    display: flex;
    align-items:end;   
    flex-direction: column;
    height: auto;
}

.phone_number{
    font-size: 24px;
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

.get_call_button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 40px;
    background-color: #F6E9C6;
    border-radius: 5px;
    color: #462273;
    font-weight: 600;
}