@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
    
.main_screen{
    width: 100vw;
    height: 100vh;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.container{
    height: auto;
    width: calc(-20px + 1150 * (100vw / 1280)); 
    margin: 0 auto;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
}

.logo_phone{
    display: none;
}

.get_call{
    display: flex;
    align-items:end;   
    flex-direction: column;
}

.phone_number{
    font-size: calc(9px + 14 * (100vw / 1280));
    font-weight: bold;
    color: white;
    margin-bottom: calc(8px + 12 * (100vw / 1280));
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(90px + 110 * (100vw / 1280));
    height: calc(23px + 20 * (100vw / 1280));
    background-color: #F6E9C6;
    border-radius: calc(2px + 3 * (100vw / 1280));
    color: #462273;
    font-weight: 600;
    cursor: pointer;
    font-size: calc(6px + 10 * (100vw / 1280));
}

.carousel_inner{
    width: 370px;
    height: auto;
    margin: 0 auto;
}

.blur{
    width: 330px;
    height: 400px;
    margin-right: 80px;
    margin-top: 60px;
    border-radius: 65px;
}

.ofer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: auto;
    height: auto;
}

.main_text{
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
    width: auto;
    height: calc(210px + 100 * (100vw / 1280));
}

.ofer_title{
    font-size: calc(25px + 17 * (100vw / 1280));
    font-weight: bold;
    color: white;
    max-width: 460px;
}

.ofer_discription{
    color: white;
    font-size: calc(16px + 8 * (100vw / 1280));
    font-weight: 400;
    line-height: 45px;
    margin-bottom: 10px;
    max-width: 370px;
}

.button_ofer{
    width: calc(140px + 100 * (100vw / 1280));
    height: calc(30px + 20 * (100vw / 1280));
    font-size: calc(9px + 7 * (100vw / 1280));
}

.title{
    font-size: calc(15px + 15 * (100vw / 1280));
    font-weight: bold;
    color: #2D154A;
    text-align: center;
    margin-top: 70px;
}

.advantages{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 70px;
    margin-bottom: calc(10px + 60 * (100vw / 1280));
}

.advantages_cart{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 200px;
    text-align: center;
}

.advantages_cart_title{
    font-size: calc(12px + 8 * (100vw / 1280));
    font-weight: bold;
    color:#2D154A;
}

.advantages_cart_discription{
    font-size: calc(11px + 4 * (100vw / 1280));
    font-weight: 400;
    color:#2D154A;
    line-height: 22px;
}

.bg_get_consult{
    width: 100vw;
    height: 75vh;
    background-image: url(../img/second_bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    margin-bottom: 100px;
    padding-top: 70px;
}

.title_get_consult{
    font-size: calc(15px + 21 * (100vw / 1280));
    font-weight: bold;
    color: white;
    max-width: 850px;
    margin-bottom: calc(12px + 18 * (100vw / 1280));
    line-height: calc(25px + 25 * (100vw / 1280));
}

.discription_get_consult{
    font-size: calc(14px + 6 * (100vw / 1280));
    font-weight: 400;
    color: white;
    max-width: 420px;
    margin-bottom: 30px;
    line-height: calc(20px + 15 * (100vw / 1280));;
}

.form{
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    width: auto;
    height: auto;
}

.input{
    width: calc(250px + 50 * (100vw / 1280));
    height: calc(40px + 20 * (100vw / 1280));
    border-radius: 5px;
    border: none;
    padding-left: 20px;
    box-sizing: border-box;
    margin-bottom: 15px;
}

.get_consult{
    width: calc(250px + 50 * (100vw / 1280));
    height: calc(40px + 20 * (100vw / 1280));
    font-size: calc(12px + 4 * (100vw / 1280));
    font-weight: 500;
    margin-top: 5px;
}

button{
    border: none;
}





@media screen and (max-width: 1200px){
    .advantages_cart{
        width: calc(170px + 50 * (100vw / 1280));
        height: calc(240px - 20 * (100vw / 1280));
    }
}

@media screen and (max-width: 1100px){
    .carousel_inner{
        display: none;
    }
}

@media screen and (max-width: 770px){
    .advantages{
        flex-direction: column;
    }

    .advantages_cart{
        margin-bottom: 60px;
        width: 270px;
        height: 200px
    }
}

@media screen and (max-width: 600px){
    .logo_phone{
        display: block;
    }

    .logo_desctop{
        display: none;
    }
}
